/* body stuff */
*{font-family: "Courier New", Courier, serif}

h1{
    color: darkseagreen;
}

h2 {
    font-size: 1.5em;
}

body {
    text-align: center;
}


/* form */

form{
    margin: 2em auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--background-color1);
    padding: 10px;
}

fieldset{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 0.5em 1.5em;
    border: none;
    justify-content: center;
    align-items: center;
}

input,textarea {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid seagreen;
    border-radius: 10px;
    background-color: var(--global-green1);
    width: auto;
    text-align: left;
}
input,textarea:focus-visible{outline: none}


/* invalid input */
@keyframes blink {
    50% {border-color: red}
}
input:user-invalid{
    animation: blink 1.5s ease-in infinite alternate;
}



/* output info styling */
output {justify-self: right;}
output,button{grid-column: 2;}

