/* Page-wide background */
body {
    background: linear-gradient(45deg, hotpink 0%, hotpink 30%, lightgreen 100%);
    background-size: 500% 500%;
    animation: 10s homepage-gradient ease infinite;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes homepage-gradient {
    0%   { background-position: 50% 0;}
    25% { background-position: 75% 25%;}
    50%  { background-position: 100% 50%;}
    75%  { background-position: 75% 25%;}
    100% { background-position: 50% 0;}
}
/* nav bar*/
ul {
    background-color: transparent;
    list-style-type: none;
    border: hotpink 10px solid;
    padding: 50px;
    border-radius: 30px;
}


li a {
    display: block;
    font-family: OCR A Std, monospace;
    color: darkolivegreen;
    text-align: center;
    text-decoration: none;
    padding: 30px;
    font-size: 40px;


}

li a:hover {
    background-color: hotpink;
}


