/* Global nav bar across all webpages (except for home) */

/* body */
body.green {
    background-color: rgb(225, 248, 217); /* peppermint, very light green */
}

body.pink {
    background-color: rgb(255, 240, 245); /* lav blush, very light pink */
}

/* nav bar*/
.navigation ul {
    position: sticky; /* not working?? */
    top: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgb(193, 225, 193); /* pastel green ! */
    border-radius: 10px;
    border-style: solid;
    list-style-type: none;
}

.navigation li {
    border-right: 1px solid black !important;
    float: left;
}

.navigation a {
    display: block;
    font-family: hserif, serif;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
}

.navigation li a:hover {
    background-color: rgb(248, 200, 220); /* pastel pink*/
}

.active {
    background-color: rgb(248, 200, 220); /* pastel pink*/
}