/* root */
:root {
    --peppermintgreen: rgb(225, 248, 217);
    --lavblush: rgb(255, 240, 245);
    --pastelpink: rgb(248, 200, 220);
    --pastelgreen: rgb(193, 225, 193);
    --pastelpinkdrkr: color-mix(in sRGB, hotpink 30%, white 70%);
    --pastel-lavender: color-mix(in sRGB, lavender 80%, white 20%);
}







/* Global nav bar across all webpages (except for home) */

/* body */
body.green {
    background-color: var(--peppermintgreen); /* peppermint, very light green */
}

body.pink {
    background-color: var(--lavblush); /* lav blush, very light pink */
}

/* h1 */
h1{
    font-family: "Brush Script MT", cursive;
    font-size: 5em;
}

/* nav bar*/
.navigation ul {
    position: sticky; /* not working?? */
    top: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    background-color: var(--pastelgreen); /* pastel green ! */
    border-radius: 10px;
    border-style: solid;
    list-style-type: none;
}

.navigation li {
    border-right: 1px solid black !important;
    float: left;
}

.navigation a {
    display: block;
    font-family: hserif, serif;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
    transition: all 0.5s ease-out;
}

.navigation li a:hover, .navigation a:focus {
    background-color: var(--pastelpink); /* pastel pink*/
}

.active {
    background-color: var(--pastelpink); /* pastel pink*/
}

/* buttons */
button {
    padding: 12px 20px;
    margin: 8px 0;
    color: black;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: darkseagreen;
}