/* root */
:root {
    --bodycolor1: rgb(225, 248, 217);
    --bodycolor2: rgb(255, 240, 245);
    --global-pink1: rgb(248, 200, 220);
    --global-green1: rgb(193, 225, 193);
    --background-color1: color-mix(in sRGB, hotpink 30%, white 70%);
    --background-color2: color-mix(in sRGB, lavender 80%, white 20%);
    --global-pink2: lightpink;
}


/* switcher class */
.drk-theme {
    --bodycolor1: #5E6623;
    --bodycolor2: rgb(140,158,255); /* text color: (214,247,76) */
    --global-pink1: #EDDADA;
    --global-green1: rgb(95, 168, 96);
    --background-color1: rgb(186,221,127);
    --background-color2: rgb(221,160,221);
    --global-pink2: #e57f92;
}



/* Global nav bar across all webpages (except for home) */

/* body */
body.green {
    background-color: var(--bodycolor1); /* peppermint, very light green */
}

body.pink {
    background-color: var(--bodycolor2); /* lav blush, very light pink */
}

/* h1 */
h1{
    font-family: "Brush Script MT", cursive;
    font-size: 5em;
}

/* nav bar*/
.navigation ul {
    position: sticky; /* not working?? */
    top: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    background-color: var(--global-green1); /* pastel green ! */
    border-radius: 10px;
    border-style: solid;
    list-style-type: none;
}

.navigation li {
    border-right: 1px solid black !important;
    float: left;
}

.navigation a {
    display: block;
    font-family: hserif, serif;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
    transition: all 0.5s ease-out;
}

.navigation li a:hover, .navigation a:focus {
    background-color: var(--global-pink1); /* pastel pink*/
}

.active {
    background-color: var(--global-pink1); /* pastel pink*/
}

/* buttons */
button {
    padding: 12px 20px;
    margin: 8px 0;
    color: black;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

/* theme button */
.toggleButton {
    position: fixed;
    z-index: 9999;
    bottom: 1em;
    right: 1em;
    padding: 2em;
    background-color: var(--global-pink1);
    font-family: "Courier New", Courier, serif;
}
/* if js not enabled do not display theme button */
.no-js .toggleButton {display: none}


button:hover {
    background-color: darkseagreen;
}

::placeholder{
    color: #7a7a7a;
    opacity: 1;
}